body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #a3d8ff, #ffffff);
  height: 100vh;
  margin: 0;
}

h1 {
  margin-top: 30px;
  font-size: 32px;
  color: #333;
}

#colorBox {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 15px;
  border: 4px solid black;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

button {
  margin: 10px;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}
